#form-busca {
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 440px;
}

#logo {
	transform: rotate(180deg);
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
}

#logo:hover {
	transform: rotate(315deg);
}

#logo img{
	width: 52px;
	height: 52px;
}


.form-button {
    display: block;
	background-color: #000;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	position: relative;
	border: 1px solid var(--cor-primaria);
	color: var(--cor-primaria);
}

.form-button:hover{
	text-decoration: none;
	background-color: var(--cor-primaria);
	color: #000;
}

.form-button:hover span {
	color: var(--cor-primaria);
}

.form-button > span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 12px;
	left: 21px;
	color: #000;
	width: 24px;
	height: 24px;
	font-size: 0.8rem;
	font-weight: bold;
}

.menu {
	position: relative;
}


.menu:hover > ul{
	height: 160px;
	transition: height 0.3s ease-out;
}

.menu > ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 57px;
	right: -1px;
	margin: 0;
	padding: 0;
	width: 260px;
	height: 0;
	overflow: hidden;
}

.menu > ul > li {
	display: block;
	width: 100%;
	height: 48px;
}

.menu > ul > li > a {
	display: block;
	background-color: #000;
	color: var(--cor-primaria);
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.menu > ul > li > a:hover{
	background-color: var(--cor-primaria);
	color: #000;
}

.menu > ul > li > a > i{
	margin-right: 10px;
}
.menu > ul > li > a:hover > span{
	color: #000;
}


#form-busca input{
	flex-grow: 1;
	padding: 10px;
	font-size: 2rem;
	background-color: rgb(200,200,200);
	border: none;
	transition: background-color 0.3s linear;
    margin-right: 10px;
}

#form-busca input:focus{
	outline: 3px solid var(--cor-primaria);
	background-color: rgb(255,255,255) ;
}

#form-busca button{
	flex-grow: 0;
	flex-shrink: 0;
	width: 25%;
	font-size: 2rem;
	background-color: var(--cor-primaria);
	color: white;
	border: none;
}