#form-busca {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 440px;
}

#logo {
	transform: rotate(180deg);
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
}

#logo:hover {
	transform: rotate(315deg);
}

#logo img{
	width: 52px;
	height: 52px;
}


#carrinho {
    display: block;
	background-color: #000;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	position: relative;
	border: 1px solid var(--cor-primaria);
}

#carrinho:hover{
	text-decoration: none;
	background-color: var(--cor-primaria);
}

#carrinho i {
	
}

#carrinho span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 12px;
	left: 21px;
	color: #000;
	width: 24px;
	height: 24px;
	font-size: 0.8rem;
	font-weight: bold;
}

#form-busca input{
	flex-grow: 1;
	padding: 10px;
	font-size: 2rem;
	background-color: rgb(200,200,200);
	border: none;
	transition: background-color 0.3s linear;
    margin-right: 10px;
}

#form-busca input:focus{
	outline: 3px solid var(--cor-primaria);
	background-color: rgb(255,255,255) ;
}

#form-busca button{
	flex-grow: 0;
	flex-shrink: 0;
	width: 25%;
	font-size: 2rem;
	background-color: var(--cor-primaria);
	color: white;
	border: none;
}