#form-busca {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 440px;
}

#form-busca a {
	transform: rotate(180deg);
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
}

#form-busca a:hover {
	transform: rotate(315deg);
}

#form-busca a img{
	width: 52px;
	height: 52px;
}


#form-busca input{
	flex-grow: 1;
	padding: 10px;
	font-size: 2rem;
	background-color: rgb(200,200,200);
	border: none;
	transition: background-color 0.3s linear;
    margin-right: 10px;
}

#form-busca input:focus{
	outline: 3px solid rgb(255, 81, 0);
	background-color: rgb(255,255,255) ;
}

#form-busca button{
	flex-grow: 0;
	flex-shrink: 0;
	width: 25%;
	font-size: 2rem;
	background-color: rgb(255, 81, 0);
	color: white;
	border: none;
}