html {
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 84px;
    height: calc(100% - 84px);
}

#error {
    width: 480px;
    height: fit-content;
    transform: rotate(-2deg);
}

#error div{
    width: 100%;
    background-color:  var(--cor-primaria);
    font-size: 180px;
    text-align: center;
    font-weight: bold;
}

#error span{
    background-color: black;
    font-size: 48px;
    padding: 0 10px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -20px;
}